<h1>検索結果一覧</h1>

<table>
  <tr>
    <th>本文</th>
    <th></th>
    <th></th>
  </tr>

<% @result_set.each do |haiku_search| %>
  <tr>
    <td><%= haiku_search.sentence %></td>
    <td><%= link_to 'Show', haiku_search %></td>
    <td><%= link_to 'Destroy', haiku_search, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Haiku search', new_haiku_search_path %>
