<p id="notice"><%= notice %></p>

<p>
  <b>Sentence:</b>
  <%= @haiku_search.sentence %>
</p>


<%= link_to 'Edit', edit_haiku_search_path(@haiku_search) %> |
<%= link_to 'Back', haiku_searches_path %>
